html,body
{
    width: 100%;
    height: calc(100% - 100px);
}
.login
{
    width: 300px;
    height: auto;
    margin:0 auto;
    padding: 2.5% 2% 2.5% 2%;
}
.img-login
{
    width: 100px;
    height: 50px;
    margin:100px auto;
}

#entrar
{
    margin: 0 auto;
    display: block;
    float: none;
}

.contenedor-login
{
    width: 305px;
}

@media screen and (max-width:400px ) {
    .login
    {
        width: 80%;
    }
}